* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #6190e8; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #a7bfe8,
    #6190e8
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #a7bfe8,
    #6190e8
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
header {
  height: 10vh;
  display: grid;
  place-items: center;
  margin: 40px;
  h1 {
    font-family: "Baloo Chettan", cursive;
    letter-spacing: 4px;
    font-size: 60px;
    color: #f03a47;
  }
}
body {
  div {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  input {
    margin: 0 auto;
    height: 5vh;
    border: 2px solid rgb(185, 74, 74);
    border-radius: 8px;
    width: 80%;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    &:focus {
      border-radius: 1px;
      border: 3px solid rgb(226, 55, 55);
      outline: 0;
    }
  }
  ul {
    margin-top: 10vh;
    background-color: rgba(128, 128, 128, 0.664);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    li {
      margin: 10px;
      width: 15rem;
      display: flex;
      flex-direction: column;
      border: 1px solid rgb(80, 40, 40);
      place-items: center;
      img {
        width: 100%;
        max-width: 150px;
      }
      a {
        text-decoration: none;
        color: aliceblue;
        font-family: "Baloo Chettan", cursive;
      }
    }
  }
}
